{% set vlansall = [] %}

{% for intf in nb_interfaces.json.results %}

  {% if intf.description|length %}
set interfaces {{ intf.name }} description {{ intf.description }}
    {% for vlans in intf.tagged_vlans %}
set interfaces {{ intf.name }} unit 0 family ethernet-switching vlan members {{ vlans.vid }}
      {{ vlansall.append({{ vlans.vid }}:{{vlans.name}} ) }}
    {% endfor %}
  {%endif %}
{% endfor %}

{% for vlans_add in vlansall.unique %}
    {% set vid, vname = vlans_add.split(':') %}
    set vlans {{ vname }} vlan-id {{ vid }}

  {% endfor %}
